$primary: #00bcd4;
$secondary: #ff9800;
$success: #4caf50;
$info: #2196f3;
$warning: #ffc107;
$danger: #f44336;
$light: #f1f1f1;
$dark: #212121;
$white: #ffffff;
$black: #000000;
$gray: #9e9e9e;
$gray-light: #f5f5f5;
$gray-dark: #616161;
$gray-darker: #424242;
$gray-darkest: #212121;
$gray-lightest: #f5f5f5;