@import 'colors';
@import 'fontweight';
@import 'mediaqueries';



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;  
}

nav {
  background-color: $gray-darkest;
  padding: 1rem;
  height: 10vh;
  @media(max-width: $md) {
    height: auto;
    .navbar-toggler {
      border: 1px solid $white;
      outline: 0;
      box-shadow: none;
      .navbar-toggler-icon {
        background-image: url(../images/icones/hamb.svg);
      }
      &:focus {
        box-shadow: none;
      }
    }
  }

  .navbar-brand { 
    img {
      max-width: 200px;
      width: 100%;
      height: auto;
    }
    h1 {
      color: $white;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: $fw-bold;
      margin: 0;
    }
  }
  
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      li {
        list-style: none;
        a.nav-link {
          color: $white;
          text-decoration: none;
          padding: 0.5rem 1rem;
          font-weight: $fw-semi-bold;
          text-transform: uppercase;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            bottom: -0.5rem;
            left: 0;
            width: 0%;
            height: 2px;
            background: $primary;
            transition: 300ms;
          }

          &:hover {
            color: $primary;
            &:after {
              width: 50%;
              transform: translateX(50%);
            }
          }
        }
      }
    }  
}

section {
  height: calc(100vh - 20vh);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media(max-width: $md) {
    height: calc(100vh - 151.59px);
  }
}

footer {
  min-height: 10vh;
  background: $gray-darkest;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    max-width: 130px;
    width: 100%;
    height: auto;
  }
  p {
    margin: 0;
  }
}

#totop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  cursor: pointer;
  background-color: $gray-darker;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $gray;
  svg {
    max-width: 20px;
    width: 100%;
    height: auto;
    fill: $white;
  }
}

button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: $primary;
  color: $white;
  font-weight: $fw-bold;
  cursor: pointer;
  transition: 300ms;
  &:hover {
    background-color: $info;
  }
}
.btn-voltar {
  background-color: $secondary;
  color: $gray-light;
  padding: 0.5rem 1rem;
  font-weight: $fw-bold;
  box-shadow: none;
  outline: 0;
  border: 0;
  opacity: 0.7;
  &:hover {
    color: $gray-light;
    opacity: 1;
  }
}

main {
  padding: 70px 0;
  min-height: 80vh;
  h1 {
    margin-bottom: 60px;
    padding-left: 20px;
    border-left: 5px solid $dark;
    color: $dark;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .container {
    .row {
      .item {
        .card {
          overflow: hidden;
          border-radius: 16px;
          img {
            max-width: 100%;
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center;
          }
          h2 {
            font-size: 1.5rem;
            font-weight: $fw-bold;
            margin: 15px 0;
            padding-left: 30px;
            color: $dark;
            &:hover {
              color: $primary;
              border-color: $primary;
            }
          }
          p {
            padding: 0 30px;
          }
          a.btn-leia {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-color: $primary;
            color: $white;
            font-weight: $fw-bold;
            &:hover {
              background-color: $info;
            }
          }
        }
      }
    }
  }
}

article {
  padding-bottom: 70px;
  .content {
    margin-top: -100px;
    background-color: $white;
    position: relative;
    z-index: 4;
    padding: 30px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    height: auto;
    clear:both;
    overflow: auto;
     p {
       img {         
         &.alignleft {
           float: left;
           margin-right: 1rem;
         }
         &.alignright {
           float: right;
           margin-left: 1rem;
         }
       }
     }
  }

  .headArticle {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
   .container {
     position: relative;
     z-index: 3;
     display: flex;
     align-items: center;
     justify-content: center;
     h1 {
      color: $light;
      font-size: 2rem;
      font-weight: $fw-bold;
    }
   }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $dark;
      opacity: 0.7;
      z-index: 2;
    }
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center; 
      z-index: 1;     
    }
  }
}