* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

nav {
  background-color: #212121;
  padding: 1rem;
  height: 10vh;
}

@media (max-width: 768px) {
  nav {
    height: auto;
  }
  nav .navbar-toggler {
    border: 1px solid #ffffff;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/icones/hamb.svg);
  }
  nav .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

nav .navbar-brand img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

nav .navbar-brand h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

nav ul li a.nav-link:after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 0%;
  height: 2px;
  background: #00bcd4;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav ul li a.nav-link:hover {
  color: #00bcd4;
}

nav ul li a.nav-link:hover:after {
  width: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

section {
  height: calc(100vh - 20vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  section {
    height: calc(100vh - 151.59px);
  }
}

footer {
  min-height: 10vh;
  background: #212121;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer img {
  max-width: 130px;
  width: 100%;
  height: auto;
}

footer p {
  margin: 0;
}

#totop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  cursor: pointer;
  background-color: #424242;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #9e9e9e;
}

#totop svg {
  max-width: 20px;
  width: 100%;
  height: auto;
  fill: #ffffff;
}

button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: #00bcd4;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

button:hover {
  background-color: #2196f3;
}

.btn-voltar {
  background-color: #ff9800;
  color: #f5f5f5;
  padding: 0.5rem 1rem;
  font-weight: 700;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  border: 0;
  opacity: 0.7;
}

.btn-voltar:hover {
  color: #f5f5f5;
  opacity: 1;
}

main {
  padding: 70px 0;
  min-height: 80vh;
}

main h1 {
  margin-bottom: 60px;
  padding-left: 20px;
  border-left: 5px solid #212121;
  color: #212121;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

main .container .row .item .card {
  overflow: hidden;
  border-radius: 16px;
}

main .container .row .item .card img {
  max-width: 100%;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .container .row .item .card h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px 0;
  padding-left: 30px;
  color: #212121;
}

main .container .row .item .card h2:hover {
  color: #00bcd4;
  border-color: #00bcd4;
}

main .container .row .item .card p {
  padding: 0 30px;
}

main .container .row .item .card a.btn-leia {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #00bcd4;
  color: #ffffff;
  font-weight: 700;
}

main .container .row .item .card a.btn-leia:hover {
  background-color: #2196f3;
}

article {
  padding-bottom: 70px;
}

article .content {
  margin-top: -100px;
  background-color: #ffffff;
  position: relative;
  z-index: 4;
  padding: 30px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: auto;
  clear: both;
  overflow: auto;
}

article .content p img.alignleft {
  float: left;
  margin-right: 1rem;
}

article .content p img.alignright {
  float: right;
  margin-left: 1rem;
}

article .headArticle {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article .headArticle .container {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article .headArticle .container h1 {
  color: #f1f1f1;
  font-size: 2rem;
  font-weight: 700;
}

article .headArticle .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  opacity: 0.7;
  z-index: 2;
}

article .headArticle img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
}
/*# sourceMappingURL=main.css.map */